{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block title %}ClicSape Admin.{% endblock %}

{% block h1 %}
    <h1>Modification d'un article</h1>
{% endblock %}   
 
{% block body %}
    {% include "ClicSapeAdminBundle::Article/form.html.twig"%}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/article.js') }}"></script>
{% endblock %}
