{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block title %}ClicSapeAdminBundle:Picture:edit{% endblock %}

{% block h1 %}
    <h1>Welcome to the Picture:edit page</h1>
{% endblock %}
{% block body %}
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
  </form>
{% endblock %}
