/* 
    Created on : 21 sept. 2015, 14:24:41
    Author     : jdumouchel
*/
@smartphones: "only screen and (max-width: 479px)";

#myCarousel {
    .gallery-carousel{
        height: 200px;
        width: auto;

    }
}


#menu {
    .img-menu{
        height: auto;
        width: 50px;
    }
    
    #menu-icon{
        position: fixed;
        top: 10px;
        left: 10px;
    }
}

@media @smartphones{
    #menu-icon{
        position: fixed;
        top: 100px;
        left: 100px;
    }
    .body {
        background-color: black ;    }
}