/* 
    Created on : 15 juil. 2015, 13:44:45
    Author     : johan
*/
.loader,
.loader-dialog {
  position: fixed;
  z-index: 9999;
  background: url('../img/loader.gif') 50% 50% no-repeat;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: wait;
}
body {
  margin-top: 65px;
}
.gallery {
  width: 100px;
  height: 100px;
}
.gallery-small {
  width: 50px;
  height: 50px;
}
#login-admin {
  padding-top: 20px;
  /*
        Register
    */
}
#login-admin div#login div {
  padding-bottom: 10px ;
  padding-top: 10px ;
  text-align: left;
}
#login-admin div#login div input {
  width: 45%;
}
#login-admin div#login div label {
  width: 20%;
  min-width: 130px;
  max-width: 200px;
  text-align: left;
  padding-right: 10px;
}
#login-admin div#login div input#remember_me {
  width: 20%;
  min-width: 130px;
  max-width: 200px;
  text-align: left;
  padding-right: 10px;
}
#login-admin div#login div input#remember_me + label {
  width: 45%;
}
#login-admin div#login div input#_submit {
  width: 20%;
}
#login-admin div#register div > div {
  padding-bottom: 10px ;
  padding-top: 10px ;
  text-align: left;
}
#login-admin div#register div > div input {
  width: 45%;
}
#login-admin div#register div > div label {
  width: 20%;
  min-width: 130px;
  max-width: 200px;
  text-align: left;
  padding-right: 10px;
}
