/* 
    Created on : 21 sept. 2015, 14:24:41
    Author     : jdumouchel
*/
/*  
    Variables   
*/
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 12px #11ccd3;
    -moz-box-shadow: 0 0 12px #11ccd3;
  }
  50% {
    -webkit-box-shadow: 0 0 12px #097175;
    -moz-box-shadow: 0 0 12px #097175;
  }
  100% {
    -webkit-box-shadow: 0 0 12px #11ccd3;
    -moz-box-shadow: 0 0 12px #11ccd3;
  }
}
/*
        Global 
    Home
    Index
    Login/Register

*/
/*
----
----    Layout
----
*/
/*
    Header
*/
#header {
  height: 60px;
}
#header #logo {
  height: 60px;
  width: auto;
  padding: 0px;
}
.button-active {
  background: #9a9a9a;
}
/*  
    Menu
*/
#menu {
  background-color: #11ccd3;
}
#menu ul,
#menu li {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: auto;
  line-height: 32px;
  font-size: 16px;
  color: white;
}
#menu li {
  border-bottom: solid #29e7ee 2px;
}
#menu li:hover {
  background-color: #29e7ee;
  color: #808080;
}
#menu #title {
  background-color: #11ccd3;
  border-bottom: solid #29e7ee 2px;
}
#menu #content-list {
  padding: 0;
}
#menu .img-menu {
  height: auto;
  width: 50px;
}
#menu #menu-icon {
  position: fixed;
  display: none;
  text-decoration: none;
  border: none;
  color: white;
  background: #11ccd3;
  padding: 0px 20px;
  margin: 0;
  line-height: 60px;
  width: auto;
  top: 0px;
  left: 51px;
  font-family: "icon-worksregular";
  font-size: 2em;
}
#menu #menu-icon:hover {
  background-color: #29e7ee;
  border: solid #29e7ee 0px;
}
#menu #menu-icon:focus {
  background-color: #29e7ee;
  border: solid #29e7ee 0px;
  color: #808080;
}
#menu .navbar-header {
  padding: 0px;
  margin: 0px;
}
#menu .button-menu {
  font-family: "glyphyxonenf";
  font-size: 2em;
  color: white;
  background-color: #11ccd3;
  border: solid #11ccd3 2px;
}
#menu .button-menu:hover {
  background-color: #29e7ee;
  border: solid #29e7ee 2px;
}
#menu .button-menu.active {
  background-color: #29e7ee;
  border: solid #29e7ee 2px;
  color: #808080;
}
#menu .input-search {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}
#menu button.input-search {
  font-family: "icon-worksregular";
  font-size: 1.5em;
  padding: 0;
  color: #808080;
}
/*  
    Carousel    
*/
#myCarousel .gallery-carousel {
  height: 300px;
  width: auto;
  margin: auto;
}
#myCarousel h2 {
  width: 100%;
  text-align: center;
}
/*  
    Login
*/
div#login div {
  padding-bottom: 10px ;
  padding-top: 10px ;
  text-align: left;
}
div#login div input {
  width: 45%;
}
div#login div label {
  width: 20%;
  min-width: 130px;
  max-width: 200px;
  text-align: left;
  padding-right: 10px;
}
div#login div input#remember_me {
  width: 20%;
  min-width: 130px;
  max-width: 200px;
  text-align: left;
  padding-right: 10px;
}
div#login div input#remember_me + label {
  width: 45%;
}
div#login div input#_submit {
  width: 20%;
}
/*
    Register
*/
div#register div > div {
  padding-bottom: 10px ;
  padding-top: 10px ;
  text-align: left;
}
div#register div > div input {
  width: 45%;
}
div#register div > div label {
  width: 20%;
  min-width: 130px;
  max-width: 200px;
  text-align: left;
  padding-right: 10px;
}
/*
    Banner  // banner with article, pub
*/
/*  
    Content    
*/
.gallery-small {
  width: 120px;
  height: 120px;
  border: solid #f5f5f5 1px;
}
.banner {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  height: 100%;
  background-color: #f5f5f5;
}
.banner .gallery-small {
  width: 120px;
  height: 120px;
  border: solid #f5f5f5 1px;
  border-radius: 5%;
}
.banner .thumbnail {
  margin-left: auto;
  margin-right: auto;
}
.img-zoom {
  margin-top: 20px;
}
.img-zoom:hover {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 130px;
  /*        margin-top:  -40px;*/
  z-index: 100;
  border-radius: 5%;
  border: solid #11ccd3 1px;
  -webkit-box-shadow: 0px 0px 12px #11ccd3;
  -moz-box-shadow: 0px 0px 12px #11ccd3;
  box-shadow: 0px 0px 12px #11ccd3;
  -webkit-animation: pulse 1.5s infinite ease-in-out;
  /* Ici on utilise l'animation référencée plus haut */
}
.gallery {
  width: auto;
  height: 250px;
  margin: auto;
}
/*  
    Account    
*/
/*
    Pour ecran smartphone
*/
@media only screen and (max-width: 767px) {
  .scrollY {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .site-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
  }
  .site-pusher {
    transition-duration: 0.4s;
  }
  #menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 250px;
    transform: translateX(-250px);
  }
  #menu #menu-icon {
    display: block;
    transform: translateX(250px);
  }
  /* Toujours dans le @media */
  .with-menu .site-pusher {
    transform: translateX(250px);
  }
  /* On met un cache par dessus le site-content pour bloquer le scroll et permettre le retour au site */
  .with-menu .hide-site {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateX(250px);
    transition-duration: 0.4s;
  }
}
