{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block title %}ClicSapeAdminBundle:GroupSize:edit{% endblock %}

{% block h1 %}
    <h1>Welcome to the GroupSize:edit page</h1>
{% endblock %}

{% block body %}
    <form method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
    </form>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/admin/groupSize.js') }}"></script>
{% endblock %}
