{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block h1 %}
    <h1>Modification d'un groupe de taille</h1>
{% endblock %}

{% block body %}
    {% include "ClicSapeAdminBundle::GroupSize/form.html.twig"%}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/admin/groupSize.js') }}"></script>
{% endblock %}
