{% extends "::admin/base_admin.html.twig" %}


{% block title %}ClicSapeAdminBundle:Category:add{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<h1>Welcome to the Category:add page</h1>

<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
  </form>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}

