{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block h1 %}
    <h1>Ajout d'une catégorie</h1>
{% endblock %}

{% block body %}
    {% include "ClicSapeAdminBundle::Category/form.html.twig"%}
{% endblock %}


