{% extends "::base.html.twig" %}

{% block title %}ClicSapeAdminBundle:Category:list{% endblock %}

{% block body %}
<script src="{{ asset('js/javascript.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
<h1>Welcome to the Category:list page</h1>

<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>
{% endblock %}
