{% extends "::base.html.twig" %}

{% block title %}ClicSapeAdminBundle:Category:list{% endblock %}

{% block body %}
<script src="{{ asset('js/javascript.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
<h1>Welcome to the Category:list page</h1>

<div class="well">
  
</div>
{% endblock %}
