{% extends "::admin/base_admin.html.twig" %}

{% block title %}ClicSapeAdminBundle:Country:add{% endblock %}


{% block body %}
<h1>Welcome to the GroupSize:add page</h1>

<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
  </form>
</div>
{% endblock %}