{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block h1 %}
    <h1>Ajout d'un groupe de tailles</h1>
{% endblock %}

{% block body %}
    {% include "ClicSapeAdminBundle::Country/form.html.twig"%}
{% endblock %}