{% set catHomme = '' %}
{% set catFemme = '' %}
<nav id="menu" class="container-fluid">
    <div class="row"> 
    <div class="navbar-header">
        <button id="menu-icon"
                class="navbar-toggle collapsed" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navCat" 
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-search"></span>
        </button>
        {% for gender in menuGen %}
            <button class="img-menu">
                <img class="img-responsive" src="{{gender.picture.getWebPath}}">
            </button>
        {% endfor %}
    </div>
    </div>
    <div class="row"> 
    <div class="collapse navbar-collapse" aria-expanded="false" id="navCat">
         
        <ul>
        {% for category in menuCat %}
            <li class="">
                {{category.title}}
            </li>
        {% endfor %}
        </ul>
        </div>
    </div>
</nav>