/* 
    Created on : 15 juil. 2015, 13:44:45
    Author     : johan
*/
@url-img: '../img/';
@loader: 'loader.gif';

.loader {
position : fixed;
z-index: 9999;
background : url('@{url-img}@{loader}') 50% 50% no-repeat;
top : 0px;
left : 0px;
height : 100%;
width : 100%;
cursor : wait;
}

