{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block h1 %}
    <h1>Dashboard</h1>
{% endblock %}

{% block body %}
    
{% endblock %}

{% block javascripts %}
    
{% endblock %}
